<div *ngIf="isAddingItem; else addItem" class="new-item">
  <textarea
    autofocus
    [(ngModel)]="newItemValue"
    (keydown)="onKeyDown($event)"
    placeholder="Enter a title...">
  </textarea>
  <div class="buttons">
    <app-shared-button type="success" (click)="createNewItem()">Add Item</app-shared-button>
    <i class="material-icons close" (click)="toggleIsAddingItem()">close</i>
  </div>
</div>

<ng-template #addItem>
  <div class="add-item" (click)="onAddItemClick()">
    <i class="material-icons">add</i>
    <p>Add an item</p>
  </div>
</ng-template>