<div class="board">
  <app-column
    *ngFor="let column of columns"
    [column]="column"
    [deleteColumn]="deleteColumn"
  >
  <div cdkDropListGroup>
    <div class="item-list"
      [id]="column.id"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      >
      <app-column-item class="item" *ngFor="let task of this.column.tasks" [item]="task" cdkDrag></app-column-item>
    </div>
  </div>
  </app-column>
  <app-create-column [createNewColumn]="createColumn" ></app-create-column>
</div>