.column {
	border-radius: 5px;
	background-color: #dadada;
	border: 1px solid rgba(122, 122, 122, 0.404);
	height: 100%;
	margin: 0 10px;
	padding: 5px;
	position: relative;
	width: 250px;

	.title-container {
		width: 85%;
		margin-bottom: 10px;
	}

	.delete-btn {
		cursor: pointer;
		position: absolute;
		right: 7px;
		top: 6px;
		i {
			color: red;
			text-shadow: 0 0 2px #484848;
		}
	}

	.add-item {
		margin-top: 20px;
	}
}