.add-item {
	align-items: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	bottom: 0;
	display: flex;
	left: 0;
	position: absolute;
	width: calc(100% - 10px);
	cursor: pointer;
	padding: 2px 5px;

	&:hover {
		background-color: #ccc;
	}

	i {
		color: #655e5e;
	}

	p {
		margin: 0;
		padding: 0;
	}
}

$textAreaWidth: calc(100% - 10px);
.new-item {
	textarea {
		width: $textAreaWidth;
		max-width: $textAreaWidth;
		min-width: $textAreaWidth;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #ccc;
	}

	i { cursor: pointer; }

	.buttons {
		display: flex;
		align-items: center;
		padding-left: 3px;
		margin-top: 10px;
	}

	.close {
		margin-left: 10px;
	}
}